.news-ticker-title {
  background-color: #e74c3c;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 150px;
  text-align: center;
}

.news-ticker-title h4 {
  line-height: 48px;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}



@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
.ticker__item {
  display: inline-block;
  padding: 0 24px;
  color: white;
  position: relative;
  border-right: 2px solid white;
}

.ticker__item:hover {
  text-decoration: none;
  color: #e74c3c;
}

.ticker-wrap:hover .ticker {
  animation-play-state: paused;
}

.ticker__item.ticker__item--offset {
  width: 1920px;
  /* Make this size responsive to screen */
}