.aside-component * + .table-custom-responsive {
  margin-top: 25px;
}
.aside-component .table-custom {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background: #fff;
}
.aside-component .table-standings {
  font-size: 14px;
  letter-spacing: 0.1em;
}
.aside-component .table-standings tr {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.aside-component .table-standings th {
  padding: 12px 10px;
  text-align: center;
  font-weight: 500;
  color: #fff;
  background: #35ad79;
}
.aside-component .table-standings th:first-child {
  text-align: left;
}
.aside-component .table-standings td {
  padding: 5px;
  height: 64px;
  font-weight: 400;
  color: #151515;
}
.aside-component .team-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside-component .team-figure {
  min-width: 45px;
}
.aside-component .team-figure img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.aside-component .team-title {
  text-align: left;
  line-height: 1.15;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.aside-component .team-country {
  font-size: 12px;
  color: #9b9b9b;
}
.aside-component .table-standings td:nth-child(n + 2) {
  width: 14%;
}
